@charset "utf-8";
/* CSS Document */

a:link { color:#d2738a; }
a:visited { color:#d2738a; }
a:hover { color:#c1b492; }
a:active { color:#d2738a; }

body { cursor: url("cursor/rrw.png")11 11, auto; }
a { cursor: url("cursor/rrw2.png")11 11, default; }

UL { 
    background:#d2738a; 
    margin: 40px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    width:800px;
    box-shadow: 0px 5px 10px #000000;
	LINE-HEIGHT:30px;
}
LI { 
    background:#000000;
    margin: 0px 0px 2px 0px;
    padding: 20px 20px 20px 20px;
    list-style: none;
}

::-moz-selection { /* Mozilla based browsers */
    background-color: rgba(0,0,0,0);
    color: #d2738a;
}
::selection { /* Works in Safari */
    background-color: rgba(0,0,0,0);
    color: #d2738a;
}
::-o-selection { /* Works in Opera */
    background-color: rgba(0,0,0,0);
    color: #d2738a;
}
::-ms-selection { /* Works in Internet Explorer */
    background-color: rgba(0,0,0,0);
    color: #d2738a;
}
::-webkit-selection {
    background-color: rgba(0,0,0,0);
    color: #d2738a;
}